<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.semanticui.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/buttons.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/select.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/themes/default/easyui.css}"/>

<link rel="stylesheet" type="text/css" th:href="@{/editor-app/libs/bootstrap_3.1.1/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-editable.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/select2/select2-bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/select2/select2.min.css}" />

<script type="text/javascript" th:src="@{/lib/jquery/jquery-1.12.4.js}"></script>	
<script type="text/javascript" th:src="@{/js/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery/dataTables.select.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery/dataTables.buttons.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>

<script type="text/javascript" th:src="@{/js/bootstrap-editable.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-table.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-table-editable.js}"></script>
<script type="text/javascript" th:src="@{/select2/select2.full.min.js}"></script>
<style>
.option_show{height: 28px;width: 80px;}
.option_div{float:left;margin-top: 13px;margin-left:15px;padding-right: 40px;font-size: 16px;}
.a-link{color: #0066CC;}
.td-style{padding: 12px 0px 12px 5px;border: none;width: 120px;}
#release,#release tr,#release tr td{border:1px solid #909090;}
</style>
</head>
<body class="easyui-layout">
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var basePath = /*[[@{/}]]*/;
    /*]]>*/
</script>
	<div data-options="region:'west',split:true"  style="width:100%;">
		<form></form>
		<div class="cl pd-3 bg-1 bk-gray">
			<div class="option_div">
				交易活动类型：<select name="bizTypeOptions" id="bizTypeOptions" class="bizType_option option_show" style="margin-right: 25px;"></select>
			</div>
			<span class="l" style="margin-top: 10px;margin-bottom: 15px;padding-right: 30px;">
				<a href="javascript:;" onclick="tenderPlan_select()" class="btn btn-primary radius">确定</a>
			</span>
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="btn-refresh Hui-iconfont">&#xe68f;</i></a>
		</div>

		<table id="tenderPlan" class="display" cellspacing="0" width="100%" align="center" style="table-layout:fixed">
			<thead>
				<tr>
					<th style="width:18%;">工作项名称</th>
					<th style="width:17%;">交易活动类型</th>
					<th style="width:15%;">计划招标时间</th>
					<th style="width:15%;">最迟进场时间</th>
					<th style="width:15%;">招标方式</th>
					<th style="width:15%;">状态</th>
					<th style="width:17%;">操作</th>
				</tr>
			</thead>
		</table>
		
		<div class="btn-primary radius" style="text-align: center;">已经在招标计划中经过审签的供方</div>
		<table id="supplier" class="table table-bordered table-striped" cellspacing="0" align=center width="100%">
			<thead>
				<tr>
					<th>供方名称</th>
					<th>联系人</th>
					<th>联系电话</th>
					<th>推荐人</th>
					<th>参与我单位工程</th>
					<th>帐号名称</th>
					<!-- <th>帐号密码</th> -->
					<th>登录开始时间</th>
					<th>登录结束时间</th>
					<th>状态</th>
				</tr>
			</thead>
		</table>
		<div class="row cl" id="btn_save">
			<div style="float:right;margin:0px 15px 5px 0px;">
				<input class="btn btn-primary radius save-btn" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
		<div class="btn-primary radius" style="text-align: center;">临时增加的供方</div>
		<div style="float:right;margin:10px 0px 10px 5px;" id="supBut">
			<button type="button" class="btn btn-default" id="add-btn" title="增加">
				<span style="color:#008000;background-color:#efefef;font-weight:bold;"></span>
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			<button type="button" class="btn btn-default" id="del-btn" title="删除">
				<span style="color:#008000;background-color:#efefef;font-weight:bold;"></span>
				<span class="glyphicon glyphicon-trash"></span>
			</button>
		</div>
		<table id="tempSupplier" class="table table-bordered table-striped" cellspacing="0" align=center width="100%">
			<thead>
				<tr>
					<th>供方名称</th>
					<th>联系人</th>
					<th>联系电话</th>
					<th>推荐人</th>
					<th>参与我单位工程</th>
					<th>帐号名称</th>
					<!-- <th>帐号密码</th> -->
					<th>登录开始时间</th>
					<th>登录结束时间</th>
					<th>状态</th>
				</tr>
			</thead>
		</table>
		<div class="row cl" id="temp_save">
			<div style="float:right;margin:0px 15px 0px 0px;">
				<input class="btn btn-primary radius save-btn" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
	</div>
	
	<script language="JavaScript">
	var selectTenderPlanCode;
	var tenderPlanList;
	
	$(document).ready(function() {
		jQuery.ajax({
            type: "post",
            url: basePath+"tenderPlan/getBizTypeTenderWayStatusList",
            dataType: "json",
            success: function(data){
              var bizTypeHtml = '<option value="">请选择</option>';
              for(var i=0;i<data.BizType.length;i++){
           		  bizTypeHtml +='<option value="'+data.BizType[i].enumValue+'">'+data.BizType[i].enumValueName+'</option>';
              }
              $('.bizType_option').append(bizTypeHtml);
           }
        });
		
		tenderPlanList = $('#tenderPlan').DataTable({
				ajax : basePath+"tenderPlan/releaseTenderPlan",
				columns : [{
					data : "workItemName",
					"sDefaultContent" : ""
				}, {
					data : "bizType.enumValueName",
					"sDefaultContent" : ""
				}, {
					data : "tenderPlanDate",
					"sDefaultContent" : ""
				}, {
					data : "latestMarchinDate",
					"sDefaultContent" : ""
				}, {
					data : "tenderWay.enumValueName",
					"sDefaultContent" : ""
				}, {
					data : "status.enumValueName",
					"sDefaultContent" : ""
				}, {
	                 "sClass": "center",
	                 "data": null,
	                 "orderable": false,  
	                 "render": function (data, type, full, meta) {
                		 return '<a style="text-decoration:none" class="ml-5 a-link" onClick="showSupplier('
		     				+ data.tenderPlanCode + '\')" href="javascript:;" title="投标人">投标人</a>';
                	 }
	            }],
	            select : {
					style : 'single'
				},
				
				language:{ "sEmptyTable": "数据为空" }
			});
			tenderPlanList.on( 'select', function ( e, dt, type, indexes ) {
				var rowData = tenderPlanList.rows(indexes).data().toArray();
				showSupplier(rowData[0].tenderPlanCode);
			});
		
	});
	/* 表格的条件查询 */
	function tenderPlan_select() {
		var bizTypeOptions = $("#bizTypeOptions").find("option:selected").text();
		if(bizTypeOptions!="请选择"){
			tenderPlanList.search(bizTypeOptions).draw();
		}else{
			$('.btn-refresh').click();
		}
	}
	/* 刷新供方信息 */
	function showSupplier(tenderPlanCode) {
		selectTenderPlanCode = tenderPlanCode;
		$('#supplier').bootstrapTable('destroy');
		var supplier = $("#supplier").bootstrapTable({
			toolbar: '#toolbar',
	        method:'POST',
	        url: basePath+"bidSupplier/getSupplierByTenderPlanCode?tenderPlanCode="+tenderPlanCode+"&comeFrom=0",
	        contentType: "text/html;charset=UTF-8",
	        cache: false,
	        striped: true,                       //是否显示行间隔色
	        sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
	        showColumns:false,
	        pagination:false,
	        clickToSelect : true,
	        uniqueId: "supplierBidCode",   		//每一行的唯一标识，一般为主键列
	        onEditableSave: function (field, row, oldValue, $el, index) {
	        },
	        columns: [{
                checkbox : true
            }, {
	            field: 'supplierCreditCode.supplierCreditCode',
	            title: '单位编码',
	            visible : false
	        }, {
	            field: 'supplierCreditCode.supplierName',
	            title: '供方名称'
	        }, {
	            field: 'supplierCreditCode.contactMan',
	            title: '联系人'
	        }, {
	            field: 'supplierCreditCode.contactTel',
	            title: '联系电话'
	        }, {
	            field: 'supplierCreditCode.refereer',
	            title: '推荐人'
	        }, {
	            field: 'supplierCreditCode.achievements',
	            title: '参与我单位工程'
	        }, {
	            field: 'supplierCreditCode.userCode',
	            title: '账号名称'
	        /* }, {
	            field: 'supplierCreditCode.password',
	            title: '账号密码' */
	        }, {
	            field: 'bidStartDate',
	            title: '登陆开始时间',
	            editable : {
                    type: 'date',
                    title: '登陆开始时间'
                },
	            formatter : function (value,row,index) {
	            	if (value != undefined) {
	            		return value;
	            	} else {
	            		return '';
	            	}
                }
	        }, {
	            field: 'bidEndDate',
	            title: '登陆结束时间',
	            editable : {
                    type: 'date',
                    title: '登陆结束时间'
                },
	            formatter : function (value,row,index) {
	            	if (value != undefined) {
	            		return value;
	            	} else {
	            		return '';
	            	}
                }
	        }, {
	            field: 'status',
	            title: '状态',
	            formatter : function (value,row,index) {
	            	if (value == 1) {
	            		return '已投保';
	            	} else {
	            		return '未投保';
	            	}
                }
	        }]
	    });
		var selectedSupplier = new Object();
		$('#tempSupplier').bootstrapTable('destroy');
		var tempSupplier = $("#tempSupplier").bootstrapTable({
			toolbar: '#toolbar',
	        method:'POST',
	        url: basePath+"bidSupplier/getSupplierByTenderPlanCode?tenderPlanCode="+tenderPlanCode+"&comeFrom=1",
	        contentType: "text/html;charset=UTF-8",
	        cache: false,
	        striped: true,                       //是否显示行间隔色
	        sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
	        showColumns:false,
	        pagination:false,
	        clickToSelect : true,
	        uniqueId: "supplierBidCode",   		//每一行的唯一标识，一般为主键列
	        showExport: true,                    
	        exportDataType: 'all',
	        exportTypes:[ 'csv', 'txt', 'sql', 'doc', 'excel', 'xlsx', 'pdf'],  //导出文件类型
	        onEditableSave: function (field, row, oldValue, $el, index) {
	        	if (field == 'supplierCreditCode.supplierName') {
	        		$('#tempSupplier').bootstrapTable('updateRow',{
	                    index:index,
	                    row : selectedSupplier
	                    }
	                );
	        	}
	        },
	        columns: [{
                checkbox : true
            }, {
	            field: 'supplierCreditCode.supplierCreditCode',
	            title: '单位编码',
	            visible : false
	        }, {
	            field: 'supplierCreditCode.supplierName',
	            title: '供方名称',
	            editable: {
	            	type: 'select2',
	                pk: 1,
	                placement : "right",
	                source: function () {
                        var result = [];
                        $.ajax({
                            url: basePath+"supplier/getAllSupplier",
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                $.each(data.data, function (key, value) {
                                	var sup = {supplierName:value.supplierName,
                                			supplierCreditCode:value.supplierCreditCode,
                                			contactMan:value.contactMan,
                                			contactTel:value.contactTel,
                                			refereer:value.refereer,
                                			achievements:value.achievements,
                                			userCode:value.userCode,
                                			password:value.password} 
                                    result.push({ 
                                    	id: value.supplierName,
                                    	text: value.supplierName,
                                    	supplierCreditCode : sup});
                                });
                            }
                        });
                        return result;
                    },
                    editable : false,
	                noeditFormatter: function (value,row,index) {
	                    var result={filed:"supplierCreditCode.supplierName",value:value};
	                    return result;
	                },
	                validate: function (value) {  
	                    if ($.trim(value) == '') {  
	                        return '供方名称不能为空!';  
	                    }  
	                },
	                select2 : {
   	                    allowClear : true,
   	                    multiple : false,//多选
   	                    //tokenSeparators : [",", " "],
   	                    width : '150px',//设置宽
   	                 	templateSelection :function(selection, rec){
   	                 		selectedSupplier['supplierCreditCode'] = selection['supplierCreditCode'];
   	             			return selection.text;
    	            	}
   	                }
	            } 
	        }, {
	            field: 'supplierCreditCode.contactMan',
	            title: '联系人'
	        }, {
	            field: 'supplierCreditCode.contactTel',
	            title: '联系电话'
	        }, {
	            field: 'supplierCreditCode.refereer',
	            title: '推荐人'
	        }, {
	            field: 'supplierCreditCode.achievements',
	            title: '参与我单位工程'
	        }, {
	            field: 'supplierCreditCode.userCode',
	            title: '账号名称'
	        /* }, {
	            field: 'supplierCreditCode.password',
	            title: '账号密码' */
	        }, {
	            field: 'bidStartDate',
	            title: '登陆开始时间',
	            editable : {
                    type: 'date',
                    title: '登陆开始时间'
                },
	            formatter : function (value,row,index) {
	            	if (value != undefined) {
	            		return value;
	            	} else {
	            		return '';
	            	}
                }
	        }, {
	            field: 'bidEndDate',
	            title: '登陆结束时间',
	            editable : {
                    type: 'date',
                    title: '登陆结束时间'
                },
	            formatter : function (value,row,index) {
	            	if (value != undefined) {
	            		return value;
	            	} else {
	            		return '';
	            	}
                }
	        }, {
	            field: 'status',
	            title: '状态',
	            formatter : function (value,row,index) {
	            	if (value == 1) {
	            		return '已投保';
	            	} else {
	            		return '未投保';
	            	}
                }
	        }]
	    });
	}
	$(".save-btn").click(function(){
		var supData = $("#supplier").bootstrapTable('getData');
		var tempSupData = $("#tempSupplier").bootstrapTable('getData');
		var totalData = supData.concat(tempSupData);
		//判断供方是否有重复
		if([...new Set(totalData.map(item=>item.supplierCreditCode.supplierCreditCode))].length < totalData.length){
		    layer.msg('有重复的供方',{icon:1,time:2000});
		    return;
		}
		$("form").ajaxSubmit({
			//cache: true,
            type: "post",
            dataType : "json", 
			url: basePath+"bidSupplier/saveBidSupplier",
			data: {
				supplierJson : JSON.stringify(totalData).toString(),
				tenderPlanCode : selectTenderPlanCode 
			},
			success: function(data){
				if (data.result == true) {
					layer.msg('保存成功!',{icon:1,time:2000}, function(){
						$('.btn-refresh').click();
					});
				} else {
					layer.msg(data.retMsg,{icon:1,time:2000});
				}
			},
            error: function(XmlHttpRequest, textStatus, errorThrown){
				layer.msg('保存失败',{icon:1,time:2000});
			}
		});
	});
	$("#add-btn").click(function(){
		if (selectTenderPlanCode) {
			$("#tempSupplier").bootstrapTable('insertRow', {index:0, 
	 		   row:{
	 			   supplierBidCode : Date.parse(new Date()),
	 			   comeFrom : '1',
	 			   supplierCreditCode : {
	 				   supplierCreditCode : '',
	 				   supplierName : '',
	 				   contactMan : '',
	 				   contactTel : '',
	 				   refereer : '',
	 				   achievements : '',
	 				   userCode : '',
	 				   password : ''
	 			   }
	 		   }
	 	   });
		} else {
			layer.msg("请选择一行招标计划!",{icon:1,time:2000});
		}
    });
    $("#del-btn").click(function(){
    	//已经保存的Id
    	var saveIds = "";
 	   var ids = $.map($("#tempSupplier").bootstrapTable('getSelections'), function (row) {
 		   if (row.tenderPlanCode) {
 			   if (saveIds) {
 				  saveIds += "," + row.supplierBidCode
 			   } else {
 				  saveIds = row.supplierBidCode
 			   }
 		   }
            return row.supplierBidCode;
        });
 	   
        if (ids.length < 1 ) {
            layer.msg("请选择一行删除!",{icon:1,time:2000});
            return;
        }
        if (saveIds) {
        	layer.confirm('确认要删除吗？',function(index){
    			jQuery.ajax({
    				type: "post",
                    dataType : "json", 
    				url: basePath+"bidSupplier/deleteBidSupplier",
    				data : {"supplierBidCodes" : saveIds},
    				success: function(data){
    					layer.msg('删除成功!',{icon:1,time:2000});
    					$("#tempSupplier").bootstrapTable('remove', {
    			            field: 'supplierBidCode',
    			            values: ids
    			        });
    				},
    				error:function(data) {
    					layer.msg('删除失败!',{icon:1,time:2000});
    					console.log(data.msg);
    				},
    			});		
    		});
        } else {
        	$("#tempSupplier").bootstrapTable('remove', {
                field: 'supplierBidCode',
                values: ids
            });
        }
    });
	</script>
<!--/请在上方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/messages_zh.js}"></script> 
</body>