<!DOCTYPE HTML>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>劳务离场</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.semanticui.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/buttons.dataTables.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/select.dataTables.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/H-ui.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/H-ui.admin.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/themes/default/easyui.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/editor-app/libs/bootstrap_3.1.1/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-editable.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/select2/select2-bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/select2/select2.min.css}" />

	<script type="text/javascript" th:src="@{/lib/jquery/jquery-1.12.4.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.mockjax.js}"></script>
	<script type="text/javascript" th:src="@{/lib/jquery/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/jquery/dataTables.select.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/jquery/dataTables.buttons.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/jquery/semantic.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/H-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/H-ui.admin.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.easyui.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-editable.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-table.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-table-editable.js}"></script>
	<script type="text/javascript" th:src="@{/js/showPhoto.js}"></script>
	<script type="text/javascript" th:src="@{/select2/select2.full.min.js}"></script>
	<style>
		.option_show{height: 28px;width: 80px;}
		.option_div{float:left;margin-top: 13px;margin-left:15px;padding-right: 40px;font-size: 16px;}
		.a-link{color: #0066CC;}
		#img{width:400px;height:300px;border:black 1px solid;}
		#image{position: absolute;display: none;z-index:9998;}
		#photo_dialog{z-index:9999;}
	</style>
</head>
<body class="easyui-layout">
<div data-options="region:'west',split:true"  style="width:100%;">
	<div class="cl pd-3 bg-1 bk-gray">
		<div class="option_div">
			合同名称：<select name="contract" id="contract" class="contract_option option_show" onchange="selectTrainCodesByContract()" style="margin-right: 25px;width: 200px;" value=""></select>
		</div>
		<div class="option_div">
			培训编号：<select name="trainCode" id="trainCode" class="trainCode_option option_show" onchange="selectLaborsByTrainCode()" style="margin-right: 25px;width: 200px;" value=""></select>
		</div>
		<div class="option_div r">
			<button class="btn btn-default radius btn_search" onclick="labor_all_out()" >全部离场</button>
		</div>
	</div>
	<table id="labor_out_table" class="display" cellspacing="0" align=center width="100%" style="table-layout:fixed">
		<thead>
			<tr>
				<th style="width:100px;">身份证号</th>
				<th style="width:100px;">平安卡号</th>
				<th style="width:50px;">姓名</th>
				<th style="width:30px;">性别</th>
				<th style="width:80px;">出生年月</th>
				<th style="width:30px;">工种</th>
				<th style="width:80px;">入场时间</th>
				<th style="width:50px;">身份证</th>
				<th style="width:80px;">手持身份证</th>
				<th style="width:80px;">离场时间</th>
				<th style="width:50px;">离场拍照</th>
				<th style="width:60px;">同意离场</th>
				<th style="width:60px;">操作</th>
				<th style="width:100px;">备注说明</th>
			</tr>
		</thead>
	</table>
	<div id="reamrk_dialog" class="easyui-dialog" title="修改备注" style="width:400px;height:200px;"
		 data-options="iconCls:'icon-save',resizable:true, modal: true, closed:true">
		<textarea class="input-text" id="reamrk" name="reamrk" style="height:100px;"></textarea>
		<button class="btn btn-primary" id="savereamrk">保存</button>
	</div>
	<div id="image">
		<img src="" alt="" id="img">
	</div>
	<div id="photo_dialog" class="easyui-dialog" title="拍照" style="width:700px;height:600px;" data-options="iconCls:'icon-save',resizable:true, modal: true, closed:true">

		<input type="text" class="input-text" id="in_id_photo" style="display: none;" value=""><!--这里放inId-->
		<input type="text" class="input-text" id="string_photo" style="display: none;" value=""><!--这里放属性名称-->

		<video id="video" width="640" height="480" autoplay></video><!--<button id="snap" >拍照</button>-->
		<button id="save" style="height:30px;width:60px;font-size:10px;margin-left: 500px;">保存</button>
		<canvas id="canvas" width="640" height="480" style="float:right;border:1px solid #000;display: none;"></canvas>
	</div>
</div>
<script th:inline="javascript">
    var basePath = "/";	//基本路径
    var nowRowData = "";//修改的当前行数据
    var nowRowNumber = "";//修改的当前行的行号

    $(document).ready(function() {
        // disable the error message box
        $.fn.dataTable.ext.errMode = 'none';
        //获取合同下拉框内容
        jQuery.ajax({
            type:"post",
            url: basePath + "labor/getcontract",
            dataType:"json",
            async : false,//非异步，不跳过
            success:function(data){
                var contractHtml = '';
                for(var i=0;i<data.contract.length;i++){
                    contractHtml += '<option class="contract" value="'+ data.contract[i].downContractCode +'">' + data.contract[i].contractName + '</option>';
                }
                $('#contract').append(contractHtml);
            }
        });
        //获取培训下拉框内容
        getTrains();
        //初始化id为labor_out_table的datatable
        $('#labor_out_table').DataTable({
            "searching" : false,//去掉搜索框方法一
            "bLengthChange" : false,//去掉每页显示多少条数据方法
            "paging" : false,//禁止分页
            "scrollX": true,
            "autoWidth":true,
            language:{ "sEmptyTable": "数据为空" },
            ajax : basePath + "laborInOut/getLaborInOutByDownContractCodeOrTrainCode?downContractCode=" + ($("#contract").val() == null ? '' : $("#contract").val())+"&trainCode="+($("#trainCode").val() == null ? '' : $("#trainCode").val()),
            columns : [
                {data : "idNumber","sDefaultContent" : ""},
                {data : "inId","sDefaultContent" : ""},
                {data : "name", "sDefaultContent" : ""},
                {data : "sex", "sDefaultContent" : "",
                    "render": function ( data, type, full, meta ) {if(data == 0){return '女';}else{return '男';}}
                },
                {data : "birthday", "sDefaultContent" : ""},
                {data : "workerType", "sDefaultContent" : ""},
                {data : "inDate", "sDefaultContent" : ""},
                {data : "idPhoto", "sDefaultContent" : "",
                    "render": function (data, type, full, meta) {
                        if(data){
                            return '<a href="#" onmouseover="displayImg(\''+data+'\')" onmouseout="vanishImg()" onmousemove="displayImg(\''+data+'\')" >图片</a>';
                        }else{return '';}
                    }
				},
                {data : "inIdPhoto", "sDefaultContent" : "",
                    "render": function (data, type, full, meta) {
                        if(data){
                            return '<a href="#" onmouseover="displayImg(\''+data+'\')" onmouseout="vanishImg()" onmousemove="displayImg(\''+data+'\')" >图片</a>';
                        }else{return '';}
                    }
				},
                {data : "outDate", "sDefaultContent" : ""},
                {data : "outPhoto", "sDefaultContent" : "",
                    "render": function ( data, type, full, meta ) {
                        var inId = $('#labor_out_table').DataTable().row(meta.row).data().inId;
                    	if(data){
                            return '<a href="#" onmouseover="displayImg(\''+data+'\')" onmouseout="vanishImg()" onmousemove="displayImg(\''+data+'\')" >图片</a>'+
                                	'<input class="outPhotoButton" type="button" value="重拍" onclick="outPhotoButtonClick(\'' + inId + '\');">  ';
                    	}else{
                    	    return '<input class="outPhotoButton" type="button" value="拍照" onclick="outPhotoButtonClick(\'' + inId + '\');">  ';
                    	}
                	}
				},
                {data : "whetherOut", "sDefaultContent" : "同意"
                    //"render": function ( data, type, full, meta ) {if(data == "true"){return '同意';}else{return '拒绝';}}
                },
                {
                    "sClass": "center",
                    "data": null,
                    "orderable": false,
                    "render": function (data, type, full, meta) {
                        if(data.outDate == "" || data.outDate == null){
                            return '<a style="text-decoration:none;" class="ml-5" onClick="edit_reamrk(this,\'' + meta.row + '\')" href="javascript:;" title="编辑备注"><i class="Hui-iconfont">&#xe6df;</i></a>'+
                                '<a style="text-decoration:none;" class="ml-5" onClick="labor_out(\'' + meta.row + '\')" href="javascript:;" title="离场"><i class="Hui-iconfont">&#xe67a;</i></a>'+
                            	'<a style="text-decoration:none;" class="ml-5" onClick="labor_out_repulse(\'' + meta.row + '\')" href="javascript:;" title="修改离场"><i class="Hui-iconfont">&#xe6dd;</i></a>';
                        }else{
                            return '<a style="text-decoration:none;" class="ml-5" onClick="edit_reamrk(this,\'' + meta.row + '\')" href="javascript:;" title="编辑备注"><i class="Hui-iconfont">&#xe6df;</i></a>';
                        }
                    }
                },
                {data : "reamrk", "sDefaultContent" : ""}
            ]
        });
    });
    //改变合同下拉框时，查询该合同下的培训和劳务人员
    function selectTrainCodesByContract() {
        $("#trainCode").html("");//清空一下select标签内容
        getTrains();
        selectLaborsByTrainCode();
    }
    //获取培训下拉框内容
    function getTrains() {
        jQuery.ajax({
            type:"post",
            url: basePath + "train/getTrainsByContract",
            data:{"downContractCode":$("#contract").val()},
            dataType:"json",
            success:function(data){
                var contractHtml = '<option class="contract" value="">ALL</option>';
                for(var i=0;i<data.length;i++){
                    contractHtml += '<option class="contract" value="'+ data[i].trainCode +'">' + data[i].trainCode + '</option>';
                }
                $('#trainCode').append(contractHtml);
            }
        });
    }
    //改变 合同 或者 培训编号，查询该培训下的人员
    function selectLaborsByTrainCode() {
        $('#labor_out_table').DataTable().ajax.url( basePath + 'laborInOut/getLaborInOutByDownContractCodeOrTrainCode?downContractCode='+($("#contract").val() == null ? '' : $("#contract").val())+"&trainCode="+($("#trainCode").val() == null ? '' : $("#trainCode").val())).load();
    }
    
    //离场拍照
	function outPhotoButtonClick(inId) {
        $("#in_id_photo").val("");
        $("#string_photo").val("");
        $("#photo_dialog").dialog("open");
        $("#in_id_photo").val(inId);
        $("#string_photo").val("outPhoto");
    }
    //拒绝离场
    function labor_out_repulse(rowNumber) {
        layer.confirm('确认要修改是否同意离场吗？',function(){
            var whetherOut = $('#labor_out_table').DataTable().cell(rowNumber,11).data();//当前行是否可离场
            if(whetherOut == '同意'){
                $('#labor_out_table').DataTable().cell(rowNumber,11).data("拒绝").draw();
                layer.msg('拒绝成功!',{icon:1,time:2000});
            }else{
                $('#labor_out_table').DataTable().cell(rowNumber,11).data("同意").draw();
                layer.msg('同意成功!',{icon:1,time:2000});
            }
        });
    }
    //单人离场
	function labor_out(rowNumber) {
        var whetherOut = $('#labor_out_table').DataTable().cell(rowNumber,11).data();//当前行是否可离场
        var data = $('#labor_out_table').DataTable().row(rowNumber).data();
        if(whetherOut == "同意" && (data.outDate == null || data.outDate == '' || data.outDate == undefined)){
            layer.confirm('确认此人离场吗？',function(){
                $.ajax({
                    type: 'post',
                    dataType:'json',
                    url: basePath + 'laborInOut/singleLaborInOutForOut',
                    data:{"inId":data.inId},
                    //async : false,//非异步，不跳过
                    success: function (data) {
                        if (data.outDate) {
                            $('#labor_out_table').DataTable().cell(rowNumber,9).data(data.outDate).draw();
                            layer.msg('离场成功!',{icon:1,time:2000});
                            //location.reload()
                        }else{
                            layer.msg('已离场，不可再次离场!',{icon:1,time:2000});
                        }
                    },
                    error:function(data){
                        layer.msg('离场失败!',{icon:1,time:2000});
                    }
                });
            });
        }else{
            layer.msg('此人离场条件不合适!',{icon:1,time:2000});
		}
    }
    //全部离场
    function labor_all_out() {
        layer.confirm('确认全部人员离场吗？',function(){
            var tableData = $('#labor_out_table').DataTable().rows().data();
            var row;
            var whetherOut;
            var list = [];
            for (var i = 0; i < tableData.length; i++) {
                var laborInOut = {};
                row = $('#labor_out_table').DataTable().row(i).data();//当前行数据
                whetherOut = $('#labor_out_table').DataTable().cell(i,11).data();//当前行是否可离场
                if(whetherOut == "同意" && (row.outDate == null || row.outDate == undefined || row.outDate == '')){
                    laborInOut['inId'] = row.inId;
                    laborInOut['outDate'] = (row.outDate == undefined ? '':row.outDate);
                    list.push(laborInOut);
                }
			}
            //console.log(JSON.stringify(list));
            $.ajax({
                url: basePath + 'laborInOut/saveLaborInOutLetOut',
                type: 'post',
                contentType : "application/json; charset=utf-8",
                dataType:"json",
                data: "{'laborInOutList':"+JSON.stringify(list)+"}",
                async:false,
                success: function (data) {
                    //console.log(data)
                    layer.msg(data+'人离场!',{icon:1,time:2000});
                    if (data != 0) {location.reload();}
                }
            });
        });
    }
    //编辑备注
    function edit_reamrk(obj,rowNumber) {
        nowRowNumber = rowNumber;
        nowRowData = $('#labor_out_table').DataTable().row($(obj).parents("tr")).data();//当前行的数据
        if (nowRowData.inId != "" && nowRowData.inId != undefined) {
            $("#reamrk_dialog").dialog("open");
            if(nowRowData.reamrk != undefined)
                $("#reamrk").val(nowRowData.reamrk);
            else
                $("#reamrk").val("");
        }
    }
    //保存备注
    $("#savereamrk").click(function () {
        var reamrk = $("#reamrk").val();
        $.ajax({
            url: basePath + 'laborInOut/saveLaborInOutOfReamrk',
            type: 'post',
            dataType:"json",
            data: {"inId":nowRowData.inId,"reamrk":reamrk},
            async:false,
            cache:false,
            success: function (data) {
                if (data==1) {
                    $("#reamrk_dialog").dialog("close");
                    $('#labor_out_table').DataTable().cell(nowRowNumber,12).data(reamrk).draw();
                    //layer.msg('保存成功!',{icon:1,time:2000});
                }
            }
        });
    });
</script>
</body>