<html>
<head>
<meta charset="utf-8">
<link href="$ctx/static/css/jquery.dataTables.min.css" rel="stylesheet"
	type="text/css" />
<link href="$ctx/static/css/semantic.min.css" rel="stylesheet"
	type="text/css" />
<link href="$ctx/static/css/dataTables.semanticui.min.css"
	rel="stylesheet" type="text/css" />
<link href="$ctx/static/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css" >

<link rel="stylesheet" type="text/css" href="$ctx/static/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="$ctx/static/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="$ctx/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="$ctx/static/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="$ctx/static/lib/webuploader/0.1.5/webuploader.css" />

<script type="text/javascript"
	src="$ctx/static/lib/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript"
	src="$ctx/static/lib/jquery/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="$ctx/static/lib/jquery/semantic.min.js"></script>
<script type="text/javascript" src="$ctx/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="$ctx/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="$ctx/static/js/H-ui.min.js"></script>
<script type="text/javascript" src="$ctx/static/js/H-ui.admin.js"></script>
<script type="text/javascript" src="$ctx/static/lib/webuploader/0.1.5/webuploader.min.js"></script>
<title>隐患上报</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-ht-add">
	<input type="hidden" id ="flag" name="flag" value="$flag">
	<input type="hidden" value="#if($r)$r.troubletreacode#end" placeholder="" id="troubletreacode" name="troubletreacode">
	<div class="row cl">
		<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>工程划分：</label>
		<div class="formControls col-xs-3 col-sm-4">
			<span class="select-box" style="width:100%;">
				<select id="divcode" class="select" name="divcode" size="1" onChange="changeWebSource();">
				</select>
			</span> 
		</div>
		<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>隐患名称：</label>
		<div class="formControls col-xs-3 col-sm-4">
			<span class="select-box" style="width:100%;">
				<select id="troublecode" class="select" name="troublecode" size="1">
				</select>
			</span> 
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>开始时间：</label>
		<div class="formControls col-xs-3 col-sm-2">
			<input type="text"  value="#if($r)$r.startdate#end" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd'})" id="startdate" name="startdate" class="input-text Wdate">
		</div>
		<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>扣分时间：</label>
		<div class="formControls col-xs-3 col-sm-2">
			<input type="text"  value="#if($r)$!date.format('yyyy-MM-dd',$r.deductdate)#end" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd'})" id="deductdate" name="deductdate" class="input-text Wdate">
		</div>
		<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>隐患发生地点：</label>
		<div class="formControls col-xs-3 col-sm-2">
			<input type="text" class="input-text" id="takeplace" name="takeplace" value="#if($r)$r.takeplace#end">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-3 col-sm-2">描述：</label>
		<div class="formControls col-xs-3 col-sm-6">
			<textarea class="input-text" id="description" name="description" style="height:60px;">#if($r&&$r.description)$r.description#end</textarea>
		</div>
		<label class="form-label col-xs-3 col-sm-2">实际扣分：</label>
		<div class="formControls col-xs-3 col-sm-2">
			<input type="number" class="input-text" value="#if($r&&$r.realdeduct)$r.realdeduct#end" placeholder="" id="realdeduct" name="realdeduct">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-3 col-sm-2">罚款金额：</label>
		<div class="formControls col-xs-3 col-sm-2">
			<input type="number" class="input-text" value="#if($r&&$r.amercement)$r.amercement#end" placeholder="" id="amercement" name="amercement">
		</div>
		<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>整改期限：</label>
		<div class="formControls col-xs-3 col-sm-2">
			<input type="text"  value="#if($r)$!date.format('yyyy-MM-dd',$r.rectifytimelimit)#end" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd'})" id="rectifytimelimit" name="rectifytimelimit" class="input-text Wdate">
		</div>
		<label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>整改延期：</label>
		<div class="formControls col-xs-3 col-sm-2">
			#set($count=0)
			<input type="number" class="input-text" value="#if($r&&$r.rectifypostpone)$r.rectifypostpone#else$count#end" placeholder="" id="rectifypostpone" name="rectifypostpone">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-3 col-sm-2">文件上传：</label>
		<div class="formControls col-xs-3 col-sm-10">
			<div class="uploader-list-container"> 
				<div class="queueList">
					<div id="dndArea" class="placeholder">
						<div id="filePicker-2"></div>
						<p>或将文件拖到这里，单次最多可选300个</p>
					</div>
				</div>
				<div class="statusBar" style="display:none;">
					<div class="progress"> <span class="text">0%</span> <span class="percentage"></span> </div>
					<div class="info"></div>
					<div class="btns">
						<div id="filePicker2"></div>
						<div class="uploadBtn">开始上传</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-3 col-sm-2">已上传文件：</label>
		<div class="formControls col-xs-3 col-sm-10">
			<table id="fileList" class="ui celled table" cellspacing="0"
				width="100%" align=center>
				<thead>
					<tr>
						<th>名称</th>
						<th width="30" align="center">操作</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-3 col-sm-4 col-xs-offset-3 col-sm-offset-2">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" onclick="save(0)">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;上报&nbsp;&nbsp;" onclick="save(1)">
		</div>
	</div>
	</form>
</article>

<script type="text/javascript">
function IsPicture(pic)
{
    //判断是否是图片 - strFilter必须是小写列举
    var strFilter=".jpeg|.gif|.jpg|.png|.bmp|.pic|"
    if(pic.indexOf(".")>-1)
    {
        var p = pic.lastIndexOf(".");
        //alert(p);
        //alert(this.length);
        var strPostfix=pic.substring(p,pic.length) + '|';        
        strPostfix = strPostfix.toLowerCase();
        //alert(strPostfix);
        if(strFilter.indexOf(strPostfix)>-1)
        {
            //alert("True");
            return true;
        }
    }        
    //alert('False');
    return false;            
}
var url, msg, fileTable;
$(document).ready(function() {
	$("#form-ht-add").validate({
		rules:{
			troublecode:{
				required:true,
				maxlength:100
			},
			divcode:{
				required:true
			},
			startdate:{
				required:true
			},
			takeplace:{
				required:true
			},
			deductdate:{
				required:true
			},
			rectifytimelimit:{
				required:true
			},
			description:{
				maxlength:100
			},
			rectifypostpone:{
				required:true
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				cache: true,
                type: "POST",
				url: url,
				data: $("#form-ht-add").serialize(),
				async: false,
				//contentType : "application/x-www-form-urlencoded",
				success: function(data){
					if (data.result == true) {
						if (msg == "上报") {
							layer.msg(msg+'成功!',{icon:1,time:1000}, function(){
								var obj = new Object();
					            obj.refType = "HiddenTrouble";
					            obj.refCode = data.treacode;
					            uploader.options.formData = obj;
								uploader.upload();
								setTimeout(() => {
									var index = parent.layer.getFrameIndex(window.name);
									parent.$('.btn-refresh').click();
									parent.layer.close(index);
								}, 3000);
								
							});
						} else {
							layer.msg(msg+'成功!',{icon:1,time:1000}, function(){
								var obj = new Object();
					            obj.refType = "HiddenTrouble";
					            obj.refCode = data.treacode;
					            uploader.options.formData = obj;
								uploader.upload();
								$("#troubletreacode").val(data.treacode);
								$("#flag").val("U");
								//parent.$('.btn-refresh').click();
							});
						}
					} else {
						layer.msg(data.retMsg,{icon:1,time:1000})
					}
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg(msg+'失败!',{icon:1,time:1000});
				}
			});
		}
	});
	initNewsSelect();
	refreshFileList();
});
	function save(t) {
		if (t==1) {
			msg = "上报";
			url = '$ctx/hiddenTroubleTreat/startProcessInstance';
		} else {
			msg = "保存";
			url = '$ctx/hiddenTroubleTreat/saveHiddenTroubleTreat';
		}
	}
	function initNewsSelect(){  
		#foreach($div in $divLst)  
			/* var oOption${velocityCount} = document.createElement("OPTION");  
			oOption${velocityCount}.text = "$div.divname";  
			oOption${velocityCount}.value = "$div.divisioncode";  
			$("#divcode").add(oOption${velocityCount});  */ 
			$("#divcode").append("<option value='$div.divisioncode'>$div.divname</option>");
			  
			 
			#if($div.divisioncode == $r.divcode)  
				$("#divcode").val("$r.divcode");  
			#end
			changeWebSource();
		#end  
	}  
	  
	function changeWebSource (){  
		$("troublecode").innerHTML="";  
		var divcode = $("#divcode").val();  
		
		$("#troublecode").empty();
		#foreach($div in $divLst)  
		if ( divcode == "$div.divisioncode")  
		{  
			#set($hts = $htLst.get("$div.divisioncode"));  
			#foreach ($ht in  $hts)  
			{
				/* var oOption${velocityCount} = document.createElement("OPTION");  
				oOption${velocityCount}.text = "$ht.troublecode";  
				oOption${velocityCount}.value = "$ht.troublename";  
				$("troublecode").add(oOption${velocityCount}); */
				$("#troublecode").append("<option value='$ht.troublecode'>$ht.troublename</option>");
				#if($ht.troublecode == $r.troublecode)  
					$("#troublecode").val("$r.troublecode");  
				#end
			}
			#end  
		}
		#end  
	}

	function refreshFileList() {
		if ($('#fileList').hasClass('dataTable')){
			//userTable.fnClearTable(false);//清空数据.fnClearTable();//清空数据  
			fileTable.destroy(); //还原初始化了的datatable  
		}
		fileTable = $('#fileList').DataTable({
			ajax : "$ctx/fileDoc/getFileuploadList",
			fnServerParams : function (aoData) {
				aoData.push(
					{ name : "refCode", value : $("#troubletreacode").val()}, {name :"refType", value : 'HiddenTrouble' }
				);
			},
			columns : [{
				data : null,
				"render": function (data, type, full, meta) {
					if (IsPicture(data.type)) {
						return '<a href="$ctx/upload_dir/' + data.docpaths + '" data-lightbox="gallery" data-title="' + data.name + '">' + data.name + '</a>';
					} else {
	                	return '<a style="text-decoration:none" class="ml-5" onClick="downloadFile(\'' + data.docpaths + '\',\'' + data.name + '\')" href="javascript:;" title="下载">' + data.name + '</a>';
					}
                }
			}, {
                 "sClass": "center",
                 "data": null,
                 "orderable": false,  
                 "render": function (data, type, full, meta) {
                     return '<a style="text-decoration:none" class="ml-5" onClick="file_del(this,\'' + data.id + '\')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>';
                 }
            }]
		});
	}
	function downloadFile(fileRealPath, fileName) {
		window.open("$ctx//fileDoc/fileDownload?fileRealPath=" + fileRealPath
				+ "&fileName=" + encodeURI(encodeURI(fileName)));
	};
	function file_del(obj,id){
		layer.confirm('确认要删除吗？',function(index){
			jQuery.ajax({
				type : 'POST',
				url : '$ctx/fileDoc/deleteFileDoc',
				data : {"indexId" : id},
				dataType: 'json',
				success: function(data){
					$(obj).parents("tr").remove();
					layer.msg('删除成功!',{icon:1,time:1000});
				},
				error:function(data) {
					layer.msg('删除失败!',{icon:1,time:1000});
				},
			});		
		});
	}
	
	(function( $ ){
	    // 当domReady的时候开始初始化
	    $(function() {
	        var wrap = $('.uploader-list-container'),

	            // 图片容器
	            queue = $( '<ul class="filelist"></ul>' )
	                .appendTo( wrap.find( '.queueList' ) ),

	            // 状态栏，包括进度和控制按钮
	            statusBar = wrap.find( '.statusBar' ),

	            // 文件总体选择信息。
	            info = statusBar.find( '.info' ),

	            // 上传按钮
	            upload = wrap.find( '.uploadBtn' ),

	            // 没选择文件之前的内容。
	            $placeHolder = wrap.find( '.placeholder' ),

	            progress = statusBar.find( '.progress' ).hide(),

	            // 添加的文件数量
	            fileCount = 0,

	            // 添加的文件总大小
	            fileSize = 0,

	            // 优化retina, 在retina下这个值是2
	            ratio = window.devicePixelRatio || 1,

	            // 缩略图大小
	            thumbnailWidth = 110 * ratio,
	            thumbnailHeight = 110 * ratio,

	            // 可能有pedding, ready, uploading, confirm, done.
	            state = 'pedding',

	            // 所有文件的进度信息，key为file id
	            percentages = {},
	            // 判断浏览器是否支持图片的base64
	            isSupportBase64 = ( function() {
	                var data = new Image();
	                var support = true;
	                data.onload = data.onerror = function() {
	                    if( this.width != 1 || this.height != 1 ) {
	                        support = false;
	                    }
	                }
	                data.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
	                return support;
	            } )(),

	            // 检测是否已经安装flash，检测flash的版本
	            flashVersion = ( function() {
	                var version;

	                try {
	                    version = navigator.plugins[ 'Shockwave Flash' ];
	                    version = version.description;
	                } catch ( ex ) {
	                    try {
	                        version = new ActiveXObject('ShockwaveFlash.ShockwaveFlash')
	                                .GetVariable('$version');
	                    } catch ( ex2 ) {
	                        version = '0.0';
	                    }
	                }
	                version = version.match( /\d+/g );
	                return parseFloat( version[ 0 ] + '.' + version[ 1 ], 10 );
	            } )(),

	            supportTransition = (function(){
	                var s = document.createElement('p').style,
	                    r = 'transition' in s ||
	                            'WebkitTransition' in s ||
	                            'MozTransition' in s ||
	                            'msTransition' in s ||
	                            'OTransition' in s;
	                s = null;
	                return r;
	            })(),

	            // WebUploader实例
	            uploader;

	        if ( !WebUploader.Uploader.support('flash') && WebUploader.browser.ie ) {

	            // flash 安装了但是版本过低。
	            if (flashVersion) {
	                (function(container) {
	                    window['expressinstallcallback'] = function( state ) {
	                        switch(state) {
	                            case 'Download.Cancelled':
	                                alert('您取消了更新！')
	                                break;

	                            case 'Download.Failed':
	                                alert('安装失败')
	                                break;

	                            default:
	                                alert('安装已成功，请刷新！');
	                                break;
	                        }
	                        delete window['expressinstallcallback'];
	                    };

	                    var swf = 'expressInstall.swf';
	                    // insert flash object
	                    var html = '<object type="application/' +
	                            'x-shockwave-flash" data="' +  swf + '" ';

	                    if (WebUploader.browser.ie) {
	                        html += 'classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" ';
	                    }

	                    html += 'width="100%" height="100%" style="outline:0">'  +
	                        '<param name="movie" value="' + swf + '" />' +
	                        '<param name="wmode" value="transparent" />' +
	                        '<param name="allowscriptaccess" value="always" />' +
	                    '</object>';

	                    container.html(html);

	                })(wrap);

	            // 压根就没有安转。
	            } else {
	                wrap.html('<a href="http://www.adobe.com/go/getflashplayer" target="_blank" border="0"><img alt="get flash player" src="http://www.adobe.com/macromedia/style_guide/images/160x41_Get_Flash_Player.jpg" /></a>');
	            }

	            return;
	        } else if (!WebUploader.Uploader.support()) {
	            alert( 'Web Uploader 不支持您的浏览器！');
	            return;
	        }

	        // 实例化
	        uploader = WebUploader.create({
	            pick: {
	                id: '#filePicker-2',
	                label: '点击选择文件'
	            },
	            formData: {
	                uid: 123
	            },
	            dnd: '#dndArea',
	            paste: '#uploader',
	            swf: '$ctx/static/lib/webuploader/0.1.5/Uploader.swf',
	            chunked: false,
	            chunkSize: 512 * 1024,
	            server: '$ctx/fileDoc/saveFileupload',
	            // runtimeOrder: 'flash',

	            // accept: {
	            //     title: 'Images',
	            //     extensions: 'gif,jpg,jpeg,bmp,png',
	            //     mimeTypes: 'image/*'
	            // },

	            // 禁掉全局的拖拽功能。这样不会出现文件拖进页面的时候，把文件打开。
	            disableGlobalDnd: true,
	            fileNumLimit: 300,
	            fileSizeLimit: 200 * 1024 * 1024,    // 200 M
	            fileSingleSizeLimit: 50 * 1024 * 1024    // 50 M
	        });

	        // 拖拽时不接受 js, txt 文件。
	        uploader.on( 'dndAccept', function( items ) {
	            var denied = false,
	                len = items.length,
	                i = 0,
	                // 修改js类型
	                unAllowed = 'text/plain;application/javascript ';
	            for ( ; i < len; i++ ) {
	                // 如果在列表里面
	                if (items[ i ].type != "" && ~unAllowed.indexOf( items[ i ].type ) ) {
	                    denied = true;
	                    break;
	                }
	            }

	            return !denied;
	        });

	        uploader.on('dialogOpen', function() {
	            console.log('here');
	        });

	        // uploader.on('filesQueued', function() {
	        //     uploader.sort(function( a, b ) {
	        //         if ( a.name < b.name )
	        //           return -1;
	        //         if ( a.name > b.name )
	        //           return 1;
	        //         return 0;
	        //     });
	        // });

	        // 添加“添加文件”的按钮，
	        uploader.addButton({
	            id: '#filePicker2',
	            label: '继续添加'
	        });

	        uploader.on('ready', function() {
	            window.uploader = uploader;
	        });

	        // 当有文件添加进来时执行，负责view的创建
	        function addFile( file ) {
	            var li = jQuery( '<li id="' + file.id + '">' +
	                    '<p class="title">' + file.name + '</p>' +
	                    '<p class="imgWrap"></p>'+
	                    '<p class="progress"><span></span></p>' +
	                    '</li>' ),

	                btns = jQuery('<div class="file-panel">' +
	                    '<span class="cancel">删除</span>' +
	                    '<span class="rotateRight">向右旋转</span>' +
	                    '<span class="rotateLeft">向左旋转</span></div>').appendTo( li ),
	                $prgress = li.find('p.progress span'),
	                wrap = li.find( 'p.imgWrap' ),
	                info = $('<p class="error"></p>'),

	                showError = function( code ) {
	                    switch( code ) {
	                        case 'exceed_size':
	                            text = '文件大小超出';
	                            break;

	                        case 'interrupt':
	                            text = '上传暂停';
	                            break;

	                        default:
	                            text = '上传失败，请重试';
	                            break;
	                    }

	                    info.text( text ).appendTo( li );
	                };

	            if ( file.getStatus() === 'invalid' ) {
	                showError( file.statusText );
	            } else {
	                // @todo lazyload
	                wrap.text( '预览中' );
	                uploader.makeThumb( file, function( error, src ) {
	                    var img;

	                    if ( error ) {
	                        wrap.text( '不能预览' );
	                        return;
	                    }

	                    if( isSupportBase64 ) {
	                        img = $('<img src="'+src+'">');
	                        wrap.empty().append( img );
	                    } else {
	                        jQuery.ajax('lib/webuploader/0.1.5/server/preview.php', {
	                            method: 'POST',
	                            data: src,
	                            dataType:'json'
	                        }).done(function( response ) {
	                            if (response.result) {
	                                img = $('<img src="'+response.result+'">');
	                                wrap.empty().append( img );
	                            } else {
	                                wrap.text("预览出错");
	                            }
	                        });
	                    }
	                }, thumbnailWidth, thumbnailHeight );

	                percentages[ file.id ] = [ file.size, 0 ];
	                file.rotation = 0;
	            }

	            file.on('statuschange', function( cur, prev ) {
	                if ( prev === 'progress' ) {
	                    $prgress.hide().width(0);
	                } else if ( prev === 'queued' ) {
	                    li.off( 'mouseenter mouseleave' );
	                    btns.remove();
	                }

	                // 成功
	                if ( cur === 'error' || cur === 'invalid' ) {
	                    console.log( file.statusText );
	                    showError( file.statusText );
	                    percentages[ file.id ][ 1 ] = 1;
	                } else if ( cur === 'interrupt' ) {
	                    showError( 'interrupt' );
	                } else if ( cur === 'queued' ) {
	                    percentages[ file.id ][ 1 ] = 0;
	                } else if ( cur === 'progress' ) {
	                    info.remove();
	                    $prgress.css('display', 'block');
	                } else if ( cur === 'complete' ) {
	                    li.append( '<span class="success"></span>' );
	                }

	                li.removeClass( 'state-' + prev ).addClass( 'state-' + cur );
	            });

	            li.on( 'mouseenter', function() {
	                btns.stop().animate({height: 30});
	            });

	            li.on( 'mouseleave', function() {
	                btns.stop().animate({height: 0});
	            });

	            btns.on( 'click', 'span', function() {
	                var index = $(this).index(),
	                    deg;

	                switch ( index ) {
	                    case 0:
	                        uploader.removeFile( file );
	                        return;

	                    case 1:
	                        file.rotation += 90;
	                        break;

	                    case 2:
	                        file.rotation -= 90;
	                        break;
	                }

	                if ( supportTransition ) {
	                    deg = 'rotate(' + file.rotation + 'deg)';
	                    wrap.css({
	                        '-webkit-transform': deg,
	                        '-mos-transform': deg,
	                        '-o-transform': deg,
	                        'transform': deg
	                    });
	                } else {
	                    wrap.css( 'filter', 'progid:DXImageTransform.Microsoft.BasicImage(rotation='+ (~~((file.rotation/90)%4 + 4)%4) +')');

	                }


	            });

	            li.appendTo( queue );
	        }

	        // 负责view的销毁
	        function removeFile( file ) {
	            var li = $('#'+file.id);

	            delete percentages[ file.id ];
	            updateTotalProgress();
	            li.off().find('.file-panel').off().end().remove();
	        }

	        function updateTotalProgress() {
	            var loaded = 0,
	                total = 0,
	                spans = progress.children(),
	                percent;

	            jQuery.each( percentages, function( k, v ) {
	                total += v[ 0 ];
	                loaded += v[ 0 ] * v[ 1 ];
	            } );

	            percent = total ? loaded / total : 0;


	            spans.eq( 0 ).text( Math.round( percent * 100 ) + '%' );
	            spans.eq( 1 ).css( 'width', Math.round( percent * 100 ) + '%' );
	            updateStatus();
	        }

	        function updateStatus() {
	            var text = '', stats;

	            if ( state === 'ready' ) {
	                text = '选中' + fileCount + '个文件，共' +
	                        WebUploader.formatSize( fileSize ) + '。';
	            } else if ( state === 'confirm' ) {
	                stats = uploader.getStats();
	                if ( stats.uploadFailNum ) {
	                    text = '已成功上传' + stats.successNum+ "，" +//'张照片至XX相册，'+
	                        stats.uploadFailNum + '个上传失败，<a class="retry" href="#">重新上传</a>失败文件或<a class="ignore" href="#">忽略</a>'
	                }

	            } else {
	                stats = uploader.getStats();
	                text = '共' + fileCount + '个（' +
	                        WebUploader.formatSize( fileSize )  +
	                        '），已上传' + stats.successNum + '个';

	                if ( stats.uploadFailNum ) {
	                    text += '，失败' + stats.uploadFailNum + '个';
	                }
	            }

	            info.html( text );
	        }

	        function setState( val ) {
	            var file, stats;

	            if ( val === state ) {
	                return;
	            }

	            upload.removeClass( 'state-' + state );
	            upload.addClass( 'state-' + val );
	            state = val;

	            switch ( state ) {
	                case 'pedding':
	                    $placeHolder.removeClass( 'element-invisible' );
	                    queue.hide();
	                    statusBar.addClass( 'element-invisible' );
	                    uploader.refresh();
	                    break;

	                case 'ready':
	                    $placeHolder.addClass( 'element-invisible' );
	                    $( '#filePicker2' ).removeClass( 'element-invisible');
	                    queue.show();
	                    statusBar.removeClass('element-invisible');
	                    uploader.refresh();
	                    break;

	                case 'uploading':
	                    $( '#filePicker2' ).addClass( 'element-invisible' );
	                    progress.show();
	                    upload.text( '暂停上传' );
	                    break;

	                case 'paused':
	                    progress.show();
	                    upload.text( '继续上传' );
	                    break;

	                case 'confirm':
	                    progress.hide();
	                    $( '#filePicker2' ).removeClass( 'element-invisible' );
	                    upload.text( '开始上传' );

	                    stats = uploader.getStats();
	                    if ( stats.successNum && !stats.uploadFailNum ) {
	                        setState( 'finish' );
	                        return;
	                    }
	                    break;
	                case 'finish':
	                    stats = uploader.getStats();
	                    if ( stats.successNum ) {
	                    	refreshFileList();
	                        layer.msg('上传成功',{icon:1,time:1000})
	                    } else {
	                        // 没有成功的文件，重设
	                        state = 'done';
	                        location.reload();
	                    }
	                    break;
	            }

	            updateStatus();
	        }

	        uploader.onUploadProgress = function( file, percentage ) {
	            var li = $('#'+file.id),
	                percent = li.find('.progress span');

	            percent.css( 'width', percentage * 100 + '%' );
	            percentages[ file.id ][ 1 ] = percentage;
	            updateTotalProgress();
	        };

	        uploader.onFileQueued = function( file ) {
	            fileCount++;
	            fileSize += file.size;

	            if ( fileCount === 1 ) {
	                $placeHolder.addClass( 'element-invisible' );
	                statusBar.show();
	            }

	            addFile( file );
	            setState( 'ready' );
	            updateTotalProgress();
	        };

	        uploader.onFileDequeued = function( file ) {
	            fileCount--;
	            fileSize -= file.size;

	            if ( !fileCount ) {
	                setState( 'pedding' );
	            }

	            removeFile( file );
	            updateTotalProgress();

	        };

	        uploader.on( 'all', function( type ) {
	            var stats;
	            switch( type ) {
	                case 'uploadFinished':
	                    setState( 'confirm' );
	                    break;

	                case 'startUpload':
	                    setState( 'uploading' );
	                    break;

	                case 'stopUpload':
	                    setState( 'paused' );
	                    break;

	            }
	        });

	        uploader.onError = function( code ) {
	            alert( 'Eroor: ' + code );
	        };

	        upload.on('click', function() {
	        	if ('$flag' == "I") {
	        		layer.msg('请先保存隐患处理!',{icon:1,time:1000})
	        		return false;
	        	}
	            if ( $(this).hasClass( 'disabled' ) ) {
	                return false;
	            }
	            var obj = new Object();
	            obj.refType = "HiddenTrouble";
	            obj.refCode = '$r.troubletreacode';
	            uploader.options.formData = obj;
	            if ( state === 'ready' ) {
	                uploader.upload();
	            } else if ( state === 'paused' ) {
	                uploader.upload();
	            } else if ( state === 'uploading' ) {
	                uploader.stop();
	            }
	        });

	        info.on( 'click', '.retry', function() {
	            uploader.retry();
	        } );

	        info.on( 'click', '.ignore', function() {
	            alert( 'todo' );
	        } );

	        upload.addClass( 'state-' + state );
	        updateTotalProgress();
	    });

	})( jQuery );
</script> 
<!--/请在上方写此页面业务相关的脚本-->
<script type="text/javascript" src="$ctx/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="$ctx/static/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="$ctx/static/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript" src="$ctx/static/lib/lightbox2/2.8.1/js/lightbox.js"></script>
</body>
</html>