<html>
<head>
<meta charset="utf-8">
<link href="$ctx/static/css/jquery.dataTables.min.css" rel="stylesheet"
	type="text/css" />
<link href="$ctx/static/css/semantic.min.css" rel="stylesheet"
	type="text/css" />
<link href="$ctx/static/css/dataTables.semanticui.min.css"
	rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="$ctx/static/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="$ctx/static/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="$ctx/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="$ctx/static/skin/default/skin.css" id="skin" />

<script type="text/javascript"
	src="$ctx/static/lib/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript"
	src="$ctx/static/lib/jquery/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="$ctx/static/lib/jquery/semantic.min.js"></script>
	
<script type="text/javascript" src="$ctx/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="$ctx/static/js/H-ui.min.js"></script>
<script type="text/javascript" src="$ctx/static/js/H-ui.admin.js"></script>	
<style>
.page-container{
 padding: 1px 5px 5px 5px;
}
</style>
</head>
<body >
	<div class="page-container">
		<div class="cl pd-3 bg-1 bk-gray">
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="btn-refresh Hui-iconfont">&#xe68f;</i></a>
		</div>

		<table id="hiddenTroubleTreat" class="ui celled table" cellspacing="0"
			width="100%" align=center>
			<thead>
				<tr>
					<th>隐患名称</th>
					<th>开始时间</th>
					<th>隐患发生地点</th>
					<th>描述</th>
					<th>处理状态</th>
					<th width="30" align="center">操作</th>
				</tr>
			</thead>
		</table>

	</div>
	<script language="JavaScript">
	function AddDays(date,value)  { 
		date.setDate(date.getDate()+value); 
	}
		$(document).ready(function() {
			$('#hiddenTroubleTreat').DataTable({
				ajax : "hiddenTroubleTreat/getMyTaskList",
				columns : [{
					data : "troublename"
				}, {
					data : "startdate",
					"sDefaultContent" : ""
				}, {
					data : "takeplace",
					"sDefaultContent" : ""
				}, {
					data : "description",
					"sDefaultContent" : ""
				}, {
					data : "treatstatename"
				}, {
	                 "sClass": "center",
	                 "data": null,
	                 "orderable": false,  
	                 "render": function (data, type, full, meta) {
	                	 if (data.treatstate == "free") {
	                		 return '<a style="text-decoration:none" class="ml-5" onClick="hiddenTroubleTreat_add(\'隐患处理编辑\',\'$ctx/hiddenTroubleTreat/edit?troubleTreatCode=' + data.troubletreacode + '\',\'800\',\'500\')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="hiddenTroubleTreat_del(this,\'' + data.troubletreacode + '\')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>';
	                	 } else {
	                		 if (data.taskAssignee) {
	                			return '<a style="text-decoration:none" class="ml-5" onClick="hiddenTroubleTreat_add(\'' + data.taskName+ '\',\'$ctx/hiddenTroubleTreat/task/view/' + data.taskId + '\',\'800\',\'500\')" href="javascript:;" title="审批"><i class="Hui-iconfont">&#xe6e1;</i></a>'
	                			+ '<a style="text-decoration:none" class="ml-5" onClick="hiddenTroubleTreat_add(\'流程图查看\',\'$ctx/activiti/read-resource?processDefinitionId=hiddenTrouble&resourceName=hiddenTrouble.png&pProcessInstanceId=' + data.processid + '\',\'800\',\'500\')" href="javascript:;" title="查看流程"><i class="Hui-iconfont">&#xe695;</i></a>';
	                		 } else {
	                			return '<a style="text-decoration:none" class="ml-5" onClick="hiddenTroubleTreat_claim(this,\'' + data.taskId + '\')" href="javascript:;" title="签收"><i class="Hui-iconfont">&#xe692;</i></a>'
	                			+ '<a style="text-decoration:none" class="ml-5" onClick="hiddenTroubleTreat_add(\'流程图查看\',\'$ctx/activiti/read-resource?processDefinitionId=hiddenTrouble&resourceName=hiddenTrouble.png&pProcessInstanceId=' + data.processid + '\',\'800\',\'500\')" href="javascript:;" title="查看流程"><i class="Hui-iconfont">&#xe695;</i></a>';
	                		 }
	                		 
	                	 }
	                     
	                 }
	            }],
	            "aoColumnDefs": [
	          	  {"orderable":false,"aTargets":[5]}// 不参与排序的列
	          	],
				"aaSorting": [[ 1, "desc" ]],
				createdRow: function( nRow, aData, iDisplayIndex ) {
					 if (aData.rectifytime) {
						 var date1 = new Date(aData.rectifytime.replace(/-/g,"/"));
						 var date2 = new Date(aData.rectifytimelimit.replace(/-/g,"/"));
						 AddDays(date2, aData.rectifypostpone)
						 if (date1 > date2) {
				        	nRow.style.backgroundColor="red";
						 }
					 }
			    }
			});
		});
		
		
		/*隐患处理-添加*/
		function hiddenTroubleTreat_add(title,url,w,h){
			var index = layer.open({
				type: 2,
				title: title,
				content: url
			});
			layer.full(index);
		}
		/*隐患处理-删除*/
		function hiddenTroubleTreat_del(obj,id){
			layer.confirm('确认要删除吗？',function(index){
				jQuery.ajax({
					type : 'POST',
					url : '$ctx/hiddenTroubleTreat/deleteHiddenTroubleTreat',
					data : {"roleCodes" : id},
					dataType: 'json',
					success: function(data){
						$(obj).parents("tr").remove();
						layer.msg('删除成功!',{icon:1,time:1000});
					},
					error:function(data) {
						layer.msg('删除失败!',{icon:1,time:1000});
						console.log(data.msg);
					},
				});		
			});
		}
		/*隐患处理-签收*/
		function hiddenTroubleTreat_claim(obj,id){
				jQuery.ajax({
					type : 'POST',
					url : '$ctx/hiddenTroubleTreat/task/claim/' + id,
					dataType: 'json',
					success: function(data){
						layer.msg(data.retMsg,{icon:1,time:1000});
						$('.btn-refresh').click();
					},
					error:function(data) {
						layer.msg('签收失败!',{icon:1,time:1000});
						console.log(data.msg);
					},
				});		
		}
	</script>

</body>