<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.semanticui.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/buttons.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/select.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/themes/default/easyui.css}"/>

<link rel="stylesheet" type="text/css" th:href="@{/editor-app/libs/bootstrap_3.1.1/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-editable.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/select2/select2-bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/select2/select2.min.css}" />

<script type="text/javascript" th:src="@{/lib/jquery/jquery-1.12.4.js}"></script>	
<script type="text/javascript" th:src="@{/js/jquery.mockjax.js}"></script>	
<script type="text/javascript" th:src="@{/lib/jquery/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery/dataTables.select.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery/dataTables.buttons.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>

<script type="text/javascript" th:src="@{/js/bootstrap-editable.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-table.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-table-editable.js}"></script>
<script type="text/javascript" th:src="@{/select2/select2.full.min.js}"></script>
<style>
.option_show{height: 28px;width: 80px;}
.option_div{float:left;margin-top: 13px;margin-left:15px;padding-right: 40px;font-size: 16px;}
.a-link{color: #0066CC;}

</style>
</head>
<body class="easyui-layout">
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var basePath = /*[[@{/}]]*/;
    /*]]>*/
</script>
	<div data-options="region:'west',split:true"  style="width:70%;">
		<div class="cl pd-3 bg-1 bk-gray">
			<div class="option_div">
				交易活动类型：<select name="bizTypeOptions" id="bizTypeOptions" class="bizType_option option_show" style="margin-right: 25px;"></select>
				状态：<select name="statusOptions" id="statusOptions" class="status_option option_show"></select>
			</div>
			<span class="l" style="margin-top: 10px;margin-bottom: 15px;padding-right: 30px;">
				<a href="javascript:;" onclick="tenderPlan_select()" class="btn btn-primary radius">确定</a>
			</span>
			<span class="l" style="margin-top: 10px;margin-bottom: 15px;">
				<a href="javascript:;" onclick="tenderPlan_add()" class="btn btn-primary radius">增加</a>
			</span>
				<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="btn-refresh Hui-iconfont">&#xe68f;</i></a>
		</div>
		<table id="tenderPlan"  class="display"  cellspacing="0" align=center width="100%" style="table-layout:fixed">
			<thead>
				<tr>
					<th style="width:19%;">工作(招标)项名称</th>
					<th style="width:10%;">交易活动类型</th>
					<th style="width:13%;">计划招标时间</th>
					<th style="width:13%;">最迟进场时间</th>
					<th style="width:10%;">招标方式</th>
					<th style="width:10%;">拟定供方数量</th>
					<th style="width:10%;">状态</th>
					<th style="width:15%;">操作</th>
				</tr>
			</thead>
		</table>
	</div>
	
	<!-- 右侧页面 -->
	<div data-options="region:'center'" >
		<div id="reload-add" th:replace="tenderPlan/tenderPlan-edit::topbar"></div>
	</div>


	<script th:inline="JavaScript">
	var supplierList;
	var approvalList;
	var tenderPlanList;
	
	$(document).ready(function() {
		jQuery.ajax({
            type: "post",
            url: basePath+"tenderPlan/getBizTypeTenderWayStatusList",
            dataType: "json",
            success: function(data){
              var bizTypeHtml = '<option value="">请选择</option>';
              var bizTypeHtml2 = '';
              var tenderWayHtml = '';
              var statusHtml = '<option value="">请选择</option>';
              for(var i=0;i<data.BizType.length;i++){
            	  bizTypeHtml2 +='<option value="'+data.BizType[i].enumValue+'">'+data.BizType[i].enumValueName+'</option>';
            	  bizTypeHtml +='<option value="'+data.BizType[i].enumValue+'">'+data.BizType[i].enumValueName+'</option>';
              }
              for(var i=0;i<data.TenderWay.length;i++){
            	  tenderWayHtml +='<option value="'+data.TenderWay[i].enumValue+'">'+data.TenderWay[i].enumValueName+'</option>';
              }
              for(var i=0;i<data.Status.length;i++){
           		  statusHtml +='<option value="'+data.Status[i].enumValue+'">'+data.Status[i].enumValueName+'</option>';
              }
              $('#bizTypeOptions').append(bizTypeHtml);
              $('#bizType').append(bizTypeHtml2);
              $('#tenderWay').append(tenderWayHtml);
              $('#statusOptions').append(statusHtml);
           }
        });
		
		$("#tenderPlanInfo").validate({
			rules:{
				workItemName:{
					required:true,
					maxlength:100
				},
				bizType:{
					required:true,
					maxlength:100
				},
				tenderWay:{
					required:true,
					maxlength:100
				},
				planSupplierNumber:{
					required:true,
					isIntGteZero:true,
					maxlength:100
				},
				tenderPlanDate:{
					required:true,
					maxlength:100
				},
				latestMarchinDate:{
					required:true,
					maxlength:100
				},
				mainContents:{
					maxlength:500
				},
				requirements:{
					maxlength:500
				}
			},
			onkeyup:false,
			focusCleanup:true,
			success:"valid",
			submitHandler:function(form){
				var supData = $("#supplier").bootstrapTable('getData');
				//判断供方是否有重复
				if([...new Set(supData.map(item=>item.supplierCreditCode.supplierCreditCode))].length < supData.length){
				    layer.msg('有重复的供方',{icon:1,time:2000});
				    return;
				}
				document.getElementById('supplierJson').value = JSON.stringify(supData).toString();
				$(form).ajaxSubmit({
					//cache: true,
	                type: "post",
	                dataType : "json", 
					url: basePath+"tenderPlan/addOrUpdateTenderPlan",
					data: $("#tenderPlanInfo").serialize(),
					success: function(data){
						if (data.result == true) {
							layer.msg(data.retMsg,{icon:1,time:2000}, function(){
								$('.btn-refresh').click();
							});
						} else {
							layer.msg(data.retMsg,{icon:1,time:2000});
						}
					},
	                error: function(XmlHttpRequest, textStatus, errorThrown){
						layer.msg(data.retMsg,{icon:1,time:2000});
					}
				});
			}
		});
		tenderPlanList = $('#tenderPlan').DataTable({
				ajax : basePath+"tenderPlan/getAllTenderPlan",
				columns : [{
					data : "workItemName",
					"sDefaultContent" : ""
				}, {
					data : "bizType.enumValueName",
					"sDefaultContent" : ""
				}, {
					data : "tenderPlanDate",
					"sDefaultContent" : ""
				}, {
					data : "latestMarchinDate",
					"sDefaultContent" : ""
				}, {
					data : "tenderWay.enumValueName",
					"sDefaultContent" : ""
				}, {
					data : "planSupplierNumber",
					"sDefaultContent" : ""
				}, {
					data : "status.enumValueName",
					"sDefaultContent" : ""
				}, {
	                 "sClass": "center",
	                 "data": null,
	                 "orderable": false,  
	                 "render": function (data, type, full, meta) {
	                	 if(data.tenderPlanCode=="" || data.tenderPlanCode==null){
	                		 return '<a style="text-decoration:none" class="ml-5"></a>';
	                	 }else{
	                		 //起草
	                		 if (data.status.enumValue == 1) {
	                			 return '<a style="text-decoration:none" class="ml-5 a-link" onClick="tender_submit('+data.tenderPlanCode+')" href="javascript:;" title="提交">提交</a>'
			                	 	+'<a style="text-decoration:none" class="ml-5 a-link" onClick="detail_show_edit('
			                	 	+ data.tenderPlanCode+',\''+data.workItemName+'\',\''+data.bizType.enumValue+'\',\''+data.tenderPlanDate+'\',\''+data.latestMarchinDate+'\',\''+data.tenderWay.enumValue+'\','+data.planSupplierNumber+',\''+data.mainContents+'\',\''+data.requirements + '\')" href="javascript:;" title="编辑">编辑</a>'
			                	 	+'<a style="text-decoration:none" class="ml-5 a-link" onClick="tender_del(this,'+data.tenderPlanCode+')" href="javascript:;" title="删除">删除</a>'
			                	 	+'<a style="text-decoration:none;" class="ml-5 a-link details-control"  href="javascript:;">清单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>';
	                		 } else {
	                			 return  '<a style="text-decoration:none" class="ml-5 a-link" onClick="detail_show('
									+ data.tenderPlanCode+',\''+data.workItemName+'\',\''+data.bizType.enumValue+'\',\''+data.tenderPlanDate+'\',\''+data.latestMarchinDate+'\',\''+data.tenderWay.enumValue+'\','+data.planSupplierNumber+',\''+data.mainContents+'\',\''+data.requirements + '\')" href="javascript:;" title="详细">详细</a>'
									+ (data.taskId ? '<a style="text-decoration:none" class="ml-5 a-link" onClick="layerOpen(\'审批\',\'' + basePath + 'activiti/showTaskView/' + data.taskId + '\',\'800\',\'500\')" href="javascript:;" title="审批">审批</a>' : "")
									+ '<a style="text-decoration:none;" class="ml-5 a-link details-control"  href="javascript:;">清单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>'
									+ '<a style="text-decoration:none" class="ml-5" onClick="layerOpen(\'流程图查看\',\'' + basePath + 'activiti/read-resource?processDefinitionId=tenderPlan&resourceName=tenderPlan.png&businessKey=' + data.tenderPlanCode + '\',\'800\',\'500\')" href="javascript:;" title="查看流程"><i class="Hui-iconfont">&#xe695;</i></a>';
	                		 }
		                	 
	                	 }
                	 }
	            }],
				language:{ "sEmptyTable": "数据为空" },
	            select : {
					style : 'single'
				}
			});
			tenderPlanList.on( 'select', function ( e, dt, type, indexes ) {
				var rowData = tenderPlanList.rows(indexes).data().toArray();
				if(rowData[0].tenderPlanCode=="" || rowData[0].tenderPlanCode==undefined){
					detail_show_edit(rowData[0].tenderPlanCode,rowData[0].workItemName,'',rowData[0].tenderPlanDate,rowData[0].latestMarchinDate,'',rowData[0].planSupplierNumber,rowData[0].mainContents,rowData[0].requirements);
				}else{
					detail_show(rowData[0].tenderPlanCode,rowData[0].workItemName,rowData[0].bizType.enumValue,rowData[0].tenderPlanDate,rowData[0].latestMarchinDate,rowData[0].tenderWay.enumValue,rowData[0].planSupplierNumber,rowData[0].mainContents,rowData[0].requirements);
				}
			});
			tenderPlanList.on( 'user-select', function ( e, dt, type, cell, originalEvent ) {
		        if ( originalEvent.target.nodeName.toLowerCase() === 'a' ) {
		            e.preventDefault();
		        }
		    });
			// Add event listener for opening and closing details
		    $('#tenderPlan tbody').on('click', 'a.details-control', function () {
		        var tr = $(this).closest('tr');
		        var row = tenderPlanList.row( tr );
		        if (row.data().tenderPlanCode ==undefined) {
		        	return;
		        }
		        if ( row.child.isShown() ) {
		            // This row is already open - close it
		            row.child.hide();
		            tr.removeClass('shown');
		        } else {
		            // Open this row
		            var detailStr = '<table id="detail' + row.data().tenderPlanCode + '" cellpadding="5" class="detail" cellspacing="0" border="0" style="padding-left:50px;">'+
				        '<thead><tr><th style="width:15%;">位置</th> <th style="width:15%;">项目名称</th> <th style="width:20%;">项目特征及工作内容</th>'+
								'<th style="width:10%;">单位</th> <th style="width:10%;">工程数量</th> <th style="width:10%;">单价</th> <th style="width:10%;">合价</th><th style="width:10%;">操作</th>'+
								'</tr></thead>';
				    jQuery.ajax({
						type : 'POST',
						url : basePath + 'workBill/findWorkBillByTenderPlanCode',
						data : {tenderPlanCode:row.data().tenderPlanCode},
						dataType: 'json',
						success: function(data){
							for(var i = 0; i < data.data.length; i++){
								detailStr += "<tr><td>" + data.data[i].divisionSnCode.divName + "</td><td>"
								 + data.data[i].name + "</td><td>"
								 + data.data[i].charactDes + "</td><td>"
								 + data.data[i].unit + "</td><td>"
								 + data.data[i].rawConMapQuan + "</td><td>"
								 + data.data[i].contractUnitPrice + "</td><td>"
								 + data.data[i].quotaManualFee + "</td>";
								 if (row.data().status.enumValue == 1) {
									 detailStr += '<td><a style="text-decoration:none" class="ml-5 a-link" onClick="detail_del(this,\''+data.data[i].divisionSnCode.divisionSnCode+'\')" href="javascript:;" title="删除">删除</a>' + "</td></tr>";
								 } else {
									 detailStr += "<td></td></tr>"
								 }
							}
							row.child(detailStr +"</thead></table>").show();
				            tr.addClass('shown');
				            $('#detail' + row.data().tenderPlanCode)
					        // Highlight on drag entering drop zone.
					        .bind('dragenter', function(ev) {
					            //$(ev.target).addClass('dragover');
					            return false;
					        })
					        // Un-highlight on drag leaving drop zone.
					        .bind('dragleave', function(ev) {
					            //$(ev.target).removeClass('dragover');
					            return false;
					        })
					        // Decide whether the thing dragged in is welcome.
					        .bind('dragover', function(ev) {
					            return false;
					        })
					        // Handle the final drop...
					        .bind('drop', function(ev) {
					        	var dt = ev.originalEvent.dataTransfer;
					        	var text = dt.getData("text").split("_");
					        	if (row.data().status.enumValue == 1) {
						        	jQuery.ajax({
										type : 'POST',
										url : basePath + 'workBill/updateWorkBillTenderCode',
										data : {
											tenderPlanCode : row.data().tenderPlanCode,
											divisionSnCode : text[0]
										},
										dataType: 'json',
										success: function(data){
											if (data.result) {
												$("#detail" + row.data().tenderPlanCode)
													.append("<tr><td>" + data.data.divisionSnCode.divName + "</td><td>"
															+  data.data.name + "</td><td>"
															 + data.data.charactDes + "</td><td>"
															 + data.data.unit + "</td><td>"
															 + data.data.rawConMapQuan + "</td><td>"
															 + data.data.contractUnitPrice + "</td><td>"
															 + data.data.quotaManualFee + "</td><td>"
															 + '<a style="text-decoration:none" class="ml-5 a-link" onClick="detail_del(this,\''+data.data.divisionSnCode.divisionSnCode+'\')" href="javascript:;" title="删除">删除</a>' + "</td></tr>");
											} else {
												layer.msg(data.retMsg,{icon:1,time:2000});
											}
										}
						        	})
					        	} else {
					        		layer.msg('招标计划已经提交，不可新增清单',{icon:1,time:2000});
					        	}
					            return false;
					        });
						},
						error:function(data) {
						}
					});	
		        }
		        return false;
		    } );
			
		
	});
		
		/* 表格的条件查询 */
		function tenderPlan_select(){
			var bizTypeOptions = $("#bizTypeOptions").find("option:selected").text();
			var statusOptions = $("#statusOptions").find("option:selected").text();
			if(bizTypeOptions=="请选择" && statusOptions!="请选择"){
				tenderPlanList.search(statusOptions).draw();
			}else if(bizTypeOptions!="请选择" && statusOptions=="请选择"){
				tenderPlanList.search(bizTypeOptions).draw();
			}else if(bizTypeOptions!="请选择" && statusOptions!="请选择"){
				tenderPlanList.search(bizTypeOptions+" "+statusOptions).draw();
			}else{
				$('.btn-refresh').click();
			}
		}
		
		/* 初始化表格 */
		approvalList = $('#approval').DataTable({
			"searching":false,
			"info": false,
			"ordering": false,
	        "paging": false,
	        language:{ "sEmptyTable": "数据为空"}
		});
		/* 详细 */
		function detail_show(tenderPlanCode,workItemName,bizType,tenderPlanDate,latestMarchinDate,tenderWay,planSupplierNumber,mainContents,requirements){
			$(':input','#tenderPlanInfo').not(':button,:submit,:reset,:hidden').val('').removeAttr('selected');
			if(workItemName!=null)$("#workItemName").val(workItemName);
			if(tenderPlanDate!=null)$("#tenderPlanDate").val(tenderPlanDate);
			if(latestMarchinDate!=null)$("#latestMarchinDate").val(latestMarchinDate);
			//$("#bizType").find("option:selected").text(data.bizType);
			if (bizType) {
				$("#bizType").val(bizType);	
			}
			if (tenderWay) {
				$("#tenderWay").val(tenderWay);
			}
			//$("#tenderWay").find("option:selected").text(data.tenderWay);
			document.getElementById("bizType").disabled=true;
			document.getElementById("bizType").style.background = "#F5F5F5";
			document.getElementById("tenderWay").disabled=true;
			document.getElementById("tenderWay").style.background = "#F5F5F5";
			if(planSupplierNumber!=null)$("#planSupplierNumber").val(planSupplierNumber);
			if(mainContents!=null && mainContents != "undefined")$("#mainContents").val(mainContents);
			if(requirements!=null && requirements != "undefined")$("#requirements").val(requirements);
			$("#tenderPlanInfo").find('input,select,textarea').attr('readonly',true);
			document.getElementById("btn_save").style.display="none";
			document.getElementById("supBut").style.display="none";
			setDataForSupplier(tenderPlanCode);
			setDataForApproval(tenderPlanCode);
		}
 
       $("#add-btn").click(function(){
    	   $("#supplier").bootstrapTable('insertRow', {index:0, 
    		   row:{
    			   supplierBidCode : Date.parse(new Date()),
    			   supplierCreditCode : {
    				   supplierCreditCode : '',
    				   supplierName : '',
    				   contactMan : '',
    				   contactTel : ''
    			   }
    		   }
    	   });
       });
       $("#del-btn").click(function(){
	    	//已经保存的Id
	       var saveIds = "";
    	   var ids = $.map($("#supplier").bootstrapTable('getSelections'), function (row) {
    		   if (row.tenderPlanCode) {
     			   if (saveIds) {
     				  saveIds += "," + row.supplierBidCode
     			   } else {
     				  saveIds = row.supplierBidCode
     			   }
     		   }
               return row.supplierBidCode;
           });
           if (ids.length < 1 ) {
               layer.msg("请选择一行删除!",{icon:1,time:2000});
               return;
           }
           if (saveIds) {
           	layer.confirm('确认要删除吗？',function(index){
       			jQuery.ajax({
       				type: "post",
                       dataType : "json", 
       				url: basePath+"bidSupplier/deleteBidSupplier",
       				data : {"supplierBidCodes" : saveIds},
       				success: function(data){
       					layer.msg('删除成功!',{icon:1,time:2000});
       					$("#supplier").bootstrapTable('remove', {
       			            field: 'supplierBidCode',
       			            values: ids
       			        });
       				},
       				error:function(data) {
       					layer.msg('删除失败!',{icon:1,time:2000});
       					console.log(data.msg);
       				},
       			});		
       		});
           } else {
           	$("#supplier").bootstrapTable('remove', {
                   field: 'supplierBidCode',
                   values: ids
               });
           }
       });
		/* 供方信息表格的填充 */
		function setDataForSupplier(tenderPlanCode){
			if ($('#supplier').hasClass('dataTable')){
				//supplierList.destroy(); //还原初始化了的datatable  
			}
			//选中的供应商			
			var selectedSupplier = new Object();
			$('#supplier').bootstrapTable('destroy');
			//$.fn.editable.defaults.mode = 'inline';
			supplierList = $("#supplier").bootstrapTable({
				toolbar: '#toolbar',
		        method:'POST',
		        url: basePath+"bidSupplier/getSupplierByTenderPlanCode?tenderPlanCode="+tenderPlanCode+"&comeFrom=0",
		        contentType: "text/html;charset=UTF-8",
		        cache: false,
		        striped: true,                       //是否显示行间隔色
		        sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
		        showColumns:false,
		        pagination:false,
		        clickToSelect : true,
		        uniqueId: "supplierBidCode",   		//每一行的唯一标识，一般为主键列
		        showExport: true,                    
		        exportDataType: 'all',
		        exportTypes:[ 'csv', 'txt', 'sql', 'doc', 'excel', 'xlsx', 'pdf'],  //导出文件类型
		        onEditableSave: function (field, row, oldValue, $el, index) {
		        	if (field == 'supplierCreditCode.supplierName') {
		        		$('#supplier').bootstrapTable('updateRow',{
		                    index:index,
		                    row : selectedSupplier
		                    }
		                );
		        	}
		        },
		        columns: [{
	                checkbox : true
	            }, {
		            field: 'supplierCreditCode.supplierCreditCode',
		            title: '单位编码',
		            visible : false
		        }, {
		            field: 'supplierCreditCode.supplierName',
		            title: '单位名称',
		            editable: {
		            	type: 'select2',
		                pk: 1,
		                placement : "right",
		                source: function () {
	                        var result = [];
	                        $.ajax({
	                            url: basePath+"supplier/getAllSupplier",
	                            async: false,
	                            type: "get",
	                            data: {},
	                            success: function (data, status) {
	                                $.each(data.data, function (key, value) {
	                                	var sup = {supplierName:value.supplierName,
	                                			supplierCreditCode:value.supplierCreditCode,
	                                			contactMan:value.contactMan,
	                                			contactTel:value.contactTel} 
	                                    result.push({ 
	                                    	id: value.supplierName,
	                                    	text: value.supplierName,
	                                    	supplierCreditCode : sup});
	                                });
	                            }
	                        });
	                        return result;
	                    },
	                    editable : false,
		                noeditFormatter: function (value,row,index) {
		                    var result={filed:"supplierCreditCode.supplierName",value:value};
		                    return result;
		                },
		                validate: function (value) {  
		                    if ($.trim(value) == '') {  
		                        return '单位名称不能为空!';  
		                    }  
		                },
		                select2 : {
       	                    allowClear : true,
       	                    multiple : false,//多选
       	                    //tokenSeparators : [",", " "],
       	                    width : '150px',//设置宽
       	                 	templateSelection :function(selection, rec){
       	                 		selectedSupplier['supplierCreditCode'] = selection['supplierCreditCode'];
       	             			return selection.text;
        	            	}
       	                }
		            } 
		        }, {
		            field: 'supplierCreditCode.contactMan',
		            title: '联系人'
		        },  {
		            field: 'supplierCreditCode.contactTel',
		            title: '联系电话'
		        }]
		    });

		}
		/*审批记录的填充 */
		function setDataForApproval(tenderPlanCode){
			if ($('#approval').hasClass('dataTable')){
				approvalList.destroy(); //还原初始化了的datatable  
			}
			approvalList = $('#approval').DataTable({
				ajax : basePath+"activiti/getTrackList",
				fnServerParams : function(aoData) {
					aoData.push(
						{name : "businessKey",value : "tenderPlan-" + tenderPlanCode}
					);
				},
				columns : [{
					data : "name",
					"sDefaultContent" : ""
				}, {
					data : "claim",
					"sDefaultContent" : ""
				}, {
					data : "dealtime",
					"sDefaultContent" : ""
				}, {
					data : "dealername",
					"sDefaultContent" : ""
				}],
				"ordering": false,
		        "paging": false,
				"searching":false,
				"info": false,//去掉底部文字(数据条数)
		        language:{
		        	"sEmptyTable": "数据为空"
		        },
				select : {
					style : 'single'
				}
			});
		}
		
	/* 编辑 */
	function detail_show_edit(tenderPlanCode,workItemName,bizType,tenderPlanDate,latestMarchinDate,tenderWay,planSupplierNumber,mainContents,requirements){
		 $(':input','#tenderPlanInfo').not(':button,:submit,:reset,:hidden').val('');
		 detail_show(tenderPlanCode,workItemName,bizType,tenderPlanDate,latestMarchinDate,tenderWay,planSupplierNumber,mainContents,requirements);
		document.getElementById("bizType").disabled=false;
		document.getElementById("bizType").style.background = "#FFFFFF";
		document.getElementById("tenderWay").disabled=false;
		document.getElementById("tenderWay").style.background = "#FFFFFF";
		if(tenderPlanCode==null){
			$("#flag").val("I");
		}else{
			$("#flag").val("U");
		}
		$("#tenderPlanCode").val(tenderPlanCode);
		$("#tenderPlanInfo").find('input,select,textarea').attr('readonly',false);
		document.getElementById("btn_save").style.display="";
		document.getElementById("supBut").style.display="";
		//setDataForSupplier(tenderPlanCode);
	}
	/* 提交 */
	function tender_submit(tenderPlanCode) {
		layer.confirm('确认提交吗？',function(index){
			jQuery.ajax({
				type: "post",
                dataType : "json", 
				url: basePath+"tenderPlan/startProcessInstance",
				data : {"tenderPlanCode" : tenderPlanCode},
				success: function(data){
					if (data.result) {
						layer.msg('提交成功',{icon:1,time:2000}, function(){
							$('.btn-refresh').click();
						});
					} else {
						layer.msg(data.retMsg,{icon:1,time:2000});
					}
					
				},
				error:function(data) {
					layer.msg('提交失败!',{icon:1,time:2000});
					console.log(data.msg);
				},
			});		
		});
	}
	/* 删除 */
	function tender_del(obj,tenderPlanCode){
		layer.confirm('确认要删除吗？',function(index){
			jQuery.ajax({
				type: "post",
                dataType : "json", 
				url: basePath+"tenderPlan/deleteTenderPlan",
				data : {"tenderPlanCode" : tenderPlanCode},
				success: function(data){
					$("#tenderPlan").DataTable().row($(obj).parents("tr")).remove().draw();
					layer.msg('删除成功!',{icon:1,time:2000});
				},
				error:function(data) {
					layer.msg('删除失败!',{icon:1,time:2000});
					console.log(data.msg);
				},
			});		
		});
	}
	/* 清单删除 */
	function detail_del(obj,divisionSnCode){
		layer.confirm('确认要删除吗？',function(index){
			jQuery.ajax({
				type: "post",
                dataType : "json", 
				url: basePath+"workBill/clearWorkBillTenderCode",
				data : {"divisionSnCode" : divisionSnCode},
				success: function(data){
					if (data.retMsg == "") {
						$(obj).parent("td").parent("tr").remove();
						layer.msg('删除成功!',{icon:1,time:2000});
					} else {
						layer.msg(data.retMsg,{icon:1,time:2000});
					}
					
				},
				error:function(data) {
					layer.msg('删除失败!',{icon:1,time:2000});
					console.log(data.msg);
				},
			});		
		});
	}
	/* 增加 */
	function tenderPlan_add(){
		var t = $("#tenderPlan").DataTable();
		t.row.add([
            '','','','','','',''
        ]).draw(false);
	}
	
	/*弹出页面*/
	function layerOpen(title,url,id,w,h){
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}
	
	</script>
<!--/请在上方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/messages_zh.js}"></script> 
</body>