<!DOCTYPE HTML>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/css/semantic.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/css/dataTables.semanticui.min.css}"
	rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" th:href="@{/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />

<script type="text/javascript"
	th:src="@{/lib/jquery/jquery-1.12.4.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/jquery/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/jquery/semantic.min.js}"></script>
	
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/H-ui.admin.js}"></script>	
<style>
.page-container{
 padding: 1px 5px 5px 5px;
}
</style>
</head>
<body >
	<div class="page-container">
		<div class="cl pd-3 bg-1 bk-gray">
			<span class="l"><a href="javascript:;"
				th:onclick="'enterprise_add(\'添加关联企业\',\'' + @{/enterprise/edit}  + '\',\'800\',\'500\')'"
				class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
					添加关联企业</a></span>
				<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="btn-refresh Hui-iconfont">&#xe68f;</i></a>
		</div>



		<table id="example" class="ui celled table" cellspacing="0"
			width="100%" align=center>
			<thead>
				<tr>
					<th>企业编码</th>
					<th>企业名称</th>
					<th>邮政编码</th>
					<th>电话</th>
					<th>联系人</th>
					<th>联系人电话</th>
					<th>关联性质</th>
					<th width="30" align="center">操作</th>
				</tr>
			</thead>
		</table>

	</div>
	<script th:inline="javascript">
		$(document).ready(function() {
			$('#example').DataTable({
				ajax : /*[[@{/enterprise/getEnterpriseList}]]*/,
				columns : [ {
					data : "enterpriseCode"
				}, {
					data : "name"
				}, {
					data : "postCode"
				}, {
					data : "telephone"
				}, {
					data : "linkMan"
				}, {
					data : "linkManPhone"
				}, {
					data : "relateType"
				}, {
	                 "sClass": "center",
	                 "data": null,
	                 "orderable": false,  
	                 "render": function (data, type, full, meta) {
	                     return '<a style="text-decoration:none" class="ml-5" onClick="enterprise_add(\'修改关联企业\',\'' +/*[[@{/enterprise/edit?enterpriseCode=}]]*/
	                    		 + data.enterpriseCode + '\',\'800\',\'500\')" href="javascript:;" title="编辑">'
	                     		 +'<i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="enterprise_del(this,\'' + data.enterpriseCode + '\')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>';
	                 }
	            }],
	            "aoColumnDefs": [
	          	  {"orderable":false,"aTargets":[7]}// 不参与排序的列
	          	]
			});
		});
		
		/*企业-添加*/
		function enterprise_add(title,url,w,h){
			/* var index = layer.open({
				type: 2,
				title: title,
				content: url
			});
			layer.full(index); */
			layer_show(title,url,w,h);
		}
		/*企业-删除*/
		function enterprise_del(obj,id){
			layer.confirm('确认要删除吗？',function(index){
				jQuery.ajax({
					type : 'POST',
					url : /*[[@{/enterprise/deleteRelateEnterprise}]]*/,
					data : {"enterpriseCode" : id},
					//dataType: 'json',
					success: function(data){
						$(obj).parents("tr").remove();
						layer.msg('删除成功!',{icon:1,time:1000});
					},
					error:function(data) {
						layer.msg('删除失败!',{icon:1,time:1000});
						console.log(data.msg);
					},
				});		
			});
		}
	</script>

</body>